
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.itemDirectorio {
    text-align: 'left';
    width: 350px;
    height: 190px;
    padding-top: 10px;
    cursor: pointer;
    background-image: url(https://www.arquidiocesisdehermosillo.org/media/com_mtree/images/cats/o/84_catedral.jpg);
    background-size: contain;
}

.parroquias {
    color: rgba(51, 51, 51, 0.742);
    font-weight: bold;
    font-size: 20px;
}